<html>

  <head>
  </head>

  <body>
    <% if @photos.any? %>
      <% @photos.each do |photo|%>
        <p> <%= image_tag photo.image.url %></p>
        <%= link_to "#{photo.caption}", photo_path(photo)%>
      <% end %>
    <% else %>
    No photos
    <% end %>
    <a href='/photos/new'>Add a photo</a>

  </body>

</html>