/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
header {
  background-color: #517fa4;
  width: 100%;
  top:0;
  margin-bottom: 5%;
  text-size:20px;
}


h1 {
  text-align: center;
  font-size:36px;
  font-family: 'freight-sans-pro','proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size:50px;
}

.signuplinks {
  font-family: 'Fira Sans', sans-serif;
  top:0;
  padding-bottom: 2%;
}

.posts {
  margin-top:43px;
  background-color: grey;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  font-family: 'Fira Sans', sans-serif;
}

.comments {
  /*background-color: white;*/

}

.yellow-block {
  background-color: yellow;
  text-align: center;
  height: auto;
  margin-bottom: 5px;
}

.comment-box{
  height: auto;
}

.Like {
  height: 20px;
}

.trash {
  height: 20px;
}

#comments_field {
  margin-top:120px;
}

.photos_field {
  margin-top:300px;
}
